.input {
  display: flex;
  flex-direction: column;

  margin-bottom: 36px;
}

.input__box {
  width: 200px;
  border: none;
  border-bottom: 1px solid #adadad;
  padding: 0 0 5px 0;
}

.input__box::placeholder {
  color: #adadad;
}
.input__box:focus {
  outline: none;
}
